Hero.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
  
  .hero {
    height: 390px;
    margin: 0 auto;
    max-height: 54vw;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 90vw;
    z-index: 1;
  }
  
  .boops {
    mix-blend-mode: overlay;
    z-index: 10;
  }
  
  .firstLine {
    display: block;
    font-size: 25.4vw;
    line-height: 0.95;
  }
  
  .box {
    background: var(--black);
    color: var(--yellow);
    display: block;
    font-size: 13.2vw;
    line-height: 1;
    padding: 0 0.5rem 1rem;
    transition: 200ms background linear;
  }
  
  .tagline {
    display: block;
    font-size: var(--size, 7.42vw);
  }
  
  .cycle {
    color: var(--text-muted);
    display: block;
    font-size: 0.75rem;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 0.2em;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
    z-index: 20;
  }
  
  .cycle.active {
    animation-duration: 500ms;
    animation-name: spin;
    animation-iteration-count: 1;
  }
  
  .cycle img {
    width: 100%;
  }
  
  @keyframes spin {
    from {
      transform: rotate(-1turn);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @media (min-width: 775px) {
    .firstLine {
      font-size: 197px;
    }
  
    .box {
      font-size: 102.5px;
    }
  
    .tagline {
      font-size: var(--size-lg, 57.5px);
    }
  }
  
  :global(.dark) .hero {
    color: var(--yellow);
  }
  
  :global(.dark) .box {
    background: var(--yellow);
    color: var(--black);
  }
  